#bookmarks-bar {
  border-bottom: solid 1px var(--border-color);
  display: flex;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;

  &.hidden {
    display: none;
  }

  > .folder,
  > .item {
    max-width: var(--bookmark-bar-item-width);
    overflow: hidden;
    padding: var(--margin);
    padding-left: calc(0.5 * var(--margin));
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &.open,
    &.context-shown {
      background-color: var(--bg-hover-color);
    }
    &:first-child,
    &:last-child {
      padding-left: var(--margin);
    }

    .icon {
      padding-right: calc(0.5 * var(--margin));
      vertical-align: bottom;
    }
    .chevron {
      display: none;
    }
  }

  > .spacer {
    flex-grow: 1;
  }
}

body[bg-image] #bookmarks-bar {
  background-color: var(--bg-tint-color);
  text-shadow: 0 0 2px var(--bg-color);
}
