html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  color: var(--fg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: 100%;
  margin: 0;
}
body[bg-image] {
  backdrop-filter: blur(10px);
}

#bg-image {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: none;
  width: 100%;
  z-index: -1;
}
#bg-image.slow {
  transition: opacity 1s ease-in-out;
}
#bg-image.shown {
  opacity: 100%;
}

a {
  color: var(--fg-color);
  text-decoration: none;
}

svg {
  fill: var(--fg-color);
}

input[type='text'],
color-input::part(text-input) {
  appearance: none;
  background-color: var(--bg-color);
  border: solid 1px var(--control-color);
  border-radius: var(--control-border-radius);
  color: var(--fg-color);
  font-family: var(--font-family);
  padding: calc(0.75 * var(--margin));

  &::placeholder {
    color: var(--fg-color);
    opacity: 50%;
  }
}
color-input::part(text-input) {
  font-family: var(--monospace-font-family);
  &::placeholder {
    font-family: var(--monospace-font-family);
  }
}

// This doesn't work when I move it inside the above block -- sassc bug?
// Class selectors also apparently don't work with part(), so this needs to be
// duplicated in components: https://github.com/w3c/csswg-drafts/issues/3431
input[type='text'].invalid {
  border-color: var(--control-invalid-color);
  outline: solid 1px var(--control-invalid-color);
}

input[type='checkbox'] {
  appearance: none;
  background-color: var(--bg-color);
  border: solid 1px var(--control-color);
  border-radius: 2px;
  height: 14px;
  position: relative;
  width: 14px;

  &:checked {
    border-color: var(--control-color);
    color: var(--fg-color);

    &:before {
      background-color: var(--fg-color);
      content: '';
      height: 12px;
      left: calc(50% - 6px);
      /* "icon-check" from MFG Labs */
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1886 2545.2094' width='12' height='12'%3E%3Cpath d='M0 1278.5Q0 1350 50 1400l503 491q50 50 124 50 72 0 122-50L1834 877q52-50 52-121t-52-120q-52-50-123.5-50T1587 636l-910 893-380-372q-52-50-123.5-50T50 1157q-50 50-50 121.5z'/%3E%3C/svg%3E");
      mask-position: center;
      position: absolute;
      top: calc(50% - 6px);
      width: 12px;
    }
  }
}

button {
  background-color: var(--button-bg-color);
  background-position: center;
  border: none;
  border-radius: var(--control-border-radius);
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: bold;
  height: var(--button-height);
  padding: 1px var(--margin) 0 var(--margin);
  user-select: none;

  &:hover:not(:disabled) {
    /* This ripple effect is based on https://codepen.io/finnhvman/pen/jLXKJw. */
    background: var(--button-hover-color)
      radial-gradient(circle, transparent 1%, var(--button-hover-color) 1%)
      center/15000%;
    transition: background 0.5s;
  }
  &:active:not(:disabled) {
    background-color: var(--button-active-color);
    background-size: 100%;
    transition: background 0s;
  }
  &:disabled {
    box-shadow: none;
    cursor: default;
    opacity: 0.4;
  }

  &.small {
    background-color: var(--bg-hover-color);
    color: var(--fg-color);
    font-size: var(--small-button-font-size);
    font-weight: normal;
    &:hover:not(:disabled) {
      background: var(--bg-hover2-color)
        radial-gradient(circle, transparent 1%, var(--bg-hover2-color) 1%)
        center/15000%;
    }
    &:active:not(:disabled) {
      background-color: var(--bg-hover3-color);
    }
  }
}
