.dialog {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: solid 1px var(--border-color);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  color: var(--fg-color);
  padding: var(--margin);

  &::backdrop {
    background: rgba(0, 0, 0, 0.2);
  }

  > * {
    display: flex;
    flex-direction: column;
    gap: var(--margin);

    > .title {
      border-bottom: solid 1px var(--border-color);
      font-size: var(--dialog-title-font-size);
      font-weight: bold;
      padding-bottom: calc(0.5 * var(--margin));
    }
    > .buttons {
      display: flex;
      gap: var(--margin);
      justify-content: flex-end;
    }
  }
}
