.menu-wrapper {
  border: none;
  padding: 0;
}

.menu {
  background-color: var(--bg-color);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  color: var(--fg-color);
  display: flex;
  flex-direction: column;
  max-width: var(--menu-max-width);
  padding: calc(0.5 * var(--margin)) 0;
  position: fixed;
  user-select: none;

  &:focus {
    outline: none;
  }
  &.hidden {
    visibility: hidden;
  }

  > * {
    display: flex;
    padding: calc(0.5 * var(--margin)) var(--margin);

    &:focus {
      /* For some reason the first <a> element gets autofocused even when I set
       * 'autofocus' on the the <dialog>. */
      outline: none;
    }

    &.folder .chevron {
      flex-grow: 1;
      height: 16px;
      padding-left: var(--margin);
      text-align: right;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .icon {
      padding-right: var(--margin);
      vertical-align: bottom;
    }
    svg {
      fill: var(--fg-color);
    }
  }

  &.context > * {
    padding-left: calc(2 * var(--margin));
    padding-right: calc(2 * var(--margin));
    .icon {
      display: none;
    }
  }

  // Highlight items that are explicitly highlighted (e.g. for hover), or that
  // have a context menu, or that have open submenus (unless there's already
  // another item highlighted in the same menu).
  & > *.highlight,
  & > *.context-shown,
  &:not(:has(> *.highlight)):not(:has(> *.context-shown)) > *.open {
    background-color: var(--bg-hover-color);
  }
}
