#settings-icon {
  bottom: 0;
  cursor: pointer;
  fill: color-mix(in srgb, var(--fg-color), transparent 50%);
  padding: var(--margin);
  position: absolute;
  right: 0;

  &:hover {
    fill: var(--fg-color);
  }
}

body[bg-image] #settings-icon {
  background-color: var(--bg-tint-color);
  border-radius: 50%;
  &:hover,
  &:active {
    background-color: var(--bg-tint-hover-color);
  }
}

.settings-dialog {
  min-width: 240px;

  .fields {
    align-items: center;
    display: grid;
    grid-template-columns: min-content auto;
    row-gap: var(--margin);

    label {
      padding-left: calc(0.5 * var(--margin));
      padding-right: var(--margin);
      user-select: none;
      white-space: nowrap;
    }
    color-input {
      width: 140px;
    }
    .bg-image-buttons {
      display: flex;
      gap: var(--margin);
    }
  }
  #bg-image-file-input {
    display: none;
  }
  #bg-image-reset-button.hidden {
    display: none;
  }
  #reset-shortcuts-button {
    align-self: flex-start;
  }
}

.reset-shortcuts-dialog {
  width: 240px;

  .message {
    line-height: 1.4;
  }
}
