#shortcuts-wrapper {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  &.shown {
    display: flex;
  }
}

#add-shortcut-button {
  border-radius: var(--border-radius);
  margin-top: calc(2 * var(--margin));
}

#shortcuts {
  align-items: stretch;
  border-radius: calc(2 * var(--border-radius));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--margin);
  max-width: calc(var(--shortcut-cols) * var(--shortcut-size));
  row-gap: var(--margin);
  user-select: none;

  > .shortcut {
    align-items: center;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    padding: calc(2 * var(--margin)) var(--margin) var(--margin) var(--margin);
    position: relative;
    width: var(--shortcut-size);

    &:hover,
    &.dragging,
    &.dropped,
    &.context-shown {
      background-color: var(--bg-hover-color);
    }
    // This is disgusting. When we reorder shortcuts during dragging, Chrome
    // sets :hover on whichever element happens to be at the position where the
    // drag started even though the cursor is now somewhere else. We can
    // manually override the background in this case, but the element still ends
    // up with :hover stuck on it after the drag is complete. This has been
    // broken for a decade so probably nobody's ever going to fix it.
    //
    // https://stackoverflow.com/questions/8057499
    // https://stackoverflow.com/questions/17946886
    // https://github.com/react-dnd/react-dnd/issues/476
    // https://bugs.webkit.org/show_bug.cgi?id=134555
    // https://issues.chromium.org/issues/41129937
    // etc.
    &.dragging ~ :hover,
    &.dropped ~ :hover,
    &:hover:has(~ .dragging),
    &:hover:has(~ .dropped) {
      background: transparent;
    }

    // This styles the element that's being dragged, not the placeholder, but if
    // I set 'visibility: hidden' or 'opacity: 0' here, the placeholder also
    // disappears.
    &.dragging {
      opacity: 50%;
    }

    .icon {
      pointer-events: none; // prevent dragging
    }

    .name {
      display: -webkit-box;
      line-height: 1.4;
      max-width: var(--shortcut-size);
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .menu-button {
      border-radius: var(--border-radius);
      height: 20px;
      position: absolute;
      right: calc(0.5 * var(--margin));
      text-align: center;
      top: calc(0.5 * var(--margin));
      width: 20px;

      svg {
        display: none;
        fill: var(--fg-color);
      }
    }

    .menu-button:hover,
    &.context-shown .menu-button {
      background-color: var(--bg-hover2-color);
    }
    .menu-button:focus svg,
    &:hover:not(:active) .menu-button svg,
    &.context-shown .menu-button svg {
      display: block;
    }
  }
}

body[bg-image] {
  #shortcuts,
  #add-shortcut-button {
    background-color: var(--bg-tint-color);
    text-shadow: 0 0 2px var(--bg-color);
  }
  #add-shortcut-button:hover,
  #add-shortcut-button:active {
    background: var(--bg-tint-hover-color);
  }
}

.edit-shortcut-dialog .fields {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: var(--margin);

  label {
    padding-right: var(--margin);
    user-select: none;
  }
  input[type='text'] {
    width: 320px;
  }
  color-input {
    width: 128px;
  }
}
