:root {
  --bg-color: #fff;
  --fg-color: #000d;
  --control-invalid-color: #d00;

  --margin: 10px;
  --border-radius: 10px;
  --control-border-radius: 5px;
  --button-height: 28px;
  --menu-max-width: 320px;

  --font-family: Arial, Helvetica, sans-serif;
  --monospace-font-family: Courier New, Courier, monospace;
  --font-size: 13px;
  --dialog-title-font-size: 16px;
  --small-button-font-size: 12px;

  --bookmark-bar-item-width: 160px;
  --shortcut-cols: 5;
  --shortcut-size: 96px;
  --shortcut-icon-size: 32px;
}

body {
  // Set derived colors on body so they'll work when we override --fg-color and
  // --bg-color there.
  --bg-hover-color: color-mix(in srgb, var(--fg-color), transparent 90%);
  --bg-hover2-color: color-mix(in srgb, var(--fg-color), transparent 80%);
  --bg-hover3-color: color-mix(in srgb, var(--fg-color), transparent 70%);
  --bg-tint-color: color-mix(in srgb, var(--bg-color), transparent 45%);
  --bg-tint-hover-color: color-mix(
    in srgb,
    var(--bg-tint-color),
    var(--bg-hover-color) 30%
  );
  --border-color: color-mix(in srgb, var(--fg-color), transparent 80%);
  --control-color: color-mix(in srgb, var(--fg-color), transparent 40%);
  --button-bg-color: color-mix(in srgb, var(--fg-color), transparent 40%);
  --button-hover-color: color-mix(in srgb, var(--fg-color), transparent 25%);
  --button-active-color: color-mix(in srgb, var(--fg-color), transparent 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202124;
    --fg-color: #fffd;
    --control-invalid-color: #d66;
  }
  body {
    --bg-tint-color: color-mix(in srgb, var(--bg-color), transparent 25%);
  }
}
